<launch>
  <!-- Load the URDF description into the ROS parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find server_bot)/urdf/urdf_base.xacro'"/>

  <!-- Spawn the robot model in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model urdf_base"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
</node>

  <node pkg="joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
</node>

  <!-- Include the empty world launch file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Run gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" args="scan:=lidar_topic _linearUpdate:=0.0 _angularUpdate:=0.0 use_sim_time:=true"/>
  <!-- Publish static transform -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 odom base_footprint use_sim_time:=true"/>
  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.06 0 0.08 0 0 0 base_link lidar use_sim_time:=true" /> 
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster" args="0 0.06 0.02 0 0 0 base_link imu use_sim_time:=true" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link use_sim_time:=true" />-->

  <!-- Run teleop -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

</launch>